.kbo-logo-button {
    background: #202030;
    border: none; /* 버튼 스타일 초기화 */
    padding: 0; /* 버튼 내부 간격 초기화 */
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
}

.team-logo-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* 세로로 나열하도록 설정 */
    align-items: center; /* 가운데 정렬 */
    height: 0;
    overflow: hidden;
    /*position: absolute;*/
    transition: max-height 0.3s ease-in-out; /* 부드러운 확장 애니메이션 */
}
.team-logo-list li {
    flex: 1;
}

.team-logo-list.open {
    height: auto; /* 메뉴를 확장함 */
}

.team-logo-list button {
    background: #202030;
    height: auto; /* 버튼의 높이를 자동으로 조정 */
    border: none; /* 버튼 스타일 초기화 */
    padding: 0; /* 버튼 내부 간격 초기화 */
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
    position: relative; /* 추가: 포지션을 상대적(relative)로 설정 */
}

.team-logo-list button::before {
    content: attr(alt);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.team-logo-list button:hover::before {
    opacity: 1;
}

.team-logo-list li {
    margin: 10px;
}

.team-logo-list img {
    width: 80px; /* 로고 이미지 너비 조정 */
    height: auto;
}
